
<div class="card col-11 m-4 p-1">
    <div>
        <a href="/Trip/{{id}}" class="h2 text-dark">{{name}}</a>
        <p class="h4 text-warning">(posted by {{user.name}})</p>
    </div>
    <div class="card-body">{{content}}</div>
</div>