<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Welcome to our Trip Planner</h1>
  </header>
  <nav>
     
    <nav>
      {{#if loggedIn}}
      <button class="btn" id="logout">Logout</button>
      <button class="btn" id="createtrip">Create Trip</button>
      {{else}}
      <button class="btn" id="login">Login</button>
      <button class="btn" id="signup">Sign up</button>
      {{/if}}
    </nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2>Creat your Trips!</h2>
    </aside>
    <div class="create-trip">
      <h2>Checkout these destinations!</h2>
    </aside>
    <div class="destinations">
      {{{body}}}
    </div>
  </main>
</body>
<script src="/js/homepage.js"></script>
</html>

