{{#if loggedIn}}
{{!-- <p>Welcome back</p> --}}
{{#each trips as |trip|}}
{{> trip}}
{{/each}}





{{else}}
<h1 class="text-center p-4 m-4 h1">Sign up for a new account above to start planning your trips!</h1>
{{/if}}