:root {
  --pink: #d63384;
  --moody-pink: #701a45;
  --red: #dc3545;
  --pastel: #f05eb3;
  --baby-pink: #f3b6e9;
  --light: #fff;
  --dark: #000;
}

.header {
background-color: var(--baby-pink);
color: var(--dark);
}


body {
  background-color: var(--dark);
  color: var(--baby-pink);
  font-family: 'Comfortaa', cursive;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h2 {
  color: var(--pink);
  background-color: var(--baby-pink);
  border: solid;
  border-color: var(--pastel);
}

/* .dest-border {
  border: solid;
  border-color: var(--baby-pink);
}; */

.collapsible-edit, .collapsible-dest, .collapsible-create, .btn {
  text-align: center;
  border: solid;
  color: var(--pink);
  border-color: var(--pastel);
  background-color: black !important;
  margin-bottom: 3%;
}

.content {
  display: none !important;
}

.trip-page-title {
  text-decoration: underline var(--pink);
  color: var(--pink);
  background-color: var(--baby-pink);
  margin-bottom: 3%;
  margin-top: 2%;
  text-align: center;
  justify-content: center;
}
.btn:hover {
  background-color: var(--dark);
  color: var(--baby-pink);
}
.home {
color: var(--pink);
background-color: var(--dark);
border: solid;
border-color: var(--pastel);
margin-bottom: 2%;
margin-top: 2%;
}
a {
  color: var(--dark);
 justify-content: center;
}

.trip-name {
width: 100%
margin: 3px;
}

.destcard {
  text-align: center;
  background-color: var(--baby-pink);
  color: var(--moody-pink);
  width: 100%
}

.footer {
  color: var(--dark);
  background-color: var(--baby-pink);
  font-weight: bold;
  text-shadow: 0 0 7px var(--pink),
  0 0 10px var(--pink),
  0 0 21px var(--pink),
  0 0 42px var(--pink),
  0 0 82px var(--pink),
  0 0 92px var(--pink),
  0 0 102px var(--pink),
  0 0 151px var(--pink); 
  position: sticky;
  padding: 10px 10px 0px 10px;
  top:0;
  width: 100%;
}
