:root {
    --pink: #D63384;
    --moodypink: #701A45;
    --red: #DC3545;
    --pastel: #F05EB3;
    --baby-pink: #F3B6E9;
    --light: #fff;
    --dark: #000;
  }
  body {
    background-color: var(--dark);
    font-family: 'Oswald', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  .destinations {

  }